.navbar-content
%ul.nav.pull-left
	%li.dropdown.active
		%a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"} 
			%span About
			%b.caret
		%ul.dropdown-menu
			%li	
				%a{:href => "#"}About 1
			%li	
				%a{:href => "#"}About 2
			%li	
				%a{:href => "#"}About 3
			%li	
				%a{:href => "#"}About 4

	%li.dropdown
		%a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"} 
			%span Menu 1
			%b.caret
		%ul.dropdown-menu
			%li	
				%a{:href => "#"}Item 1
			%li	
				%a{:href => "#"}Item 2
			%li	
				%a{:href => "#"}Item 3
			%li	
				%a{:href => "#"}Item 4


	%li.dropdown
		%a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"} 
			%span Menu 2
			%b.caret
		%ul.dropdown-menu
			%li	
				%a{:href => "#"}Item 1
			%li	
				%a{:href => "#"}Item 2
			%li	
				%a{:href => "#"}Item 3
			%li	
				%a{:href => "#"}Item 4

	
%a.btn.btn-small.pull-right{:href => "/login"} Login
%a.btn.btn-small.pull-right{:href => "/register"} Register
